<footer class="footer footer2" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="copyRight">
          &copy; Vanntechs Web Studio 2023. All Rights Reserved.
        </div>
      </div>
      <div class="col-lg-3 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="footerSocial">
          <a class="fac" href="https://www.facebook.com/vanntechs"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>