<header class="header home2">
  <div class="sideMenuArea verticalMenu" id="verticalMenu">
    <a href="#" class="closeBtn" title="Close menu">&times;</a>
    <div class="logo logo-text">
      <a href="index.html">{{site.title}}</a>
    </div>
    <nav class="mainMenu">
      <ul>
        <li class="active scroll"><a href="#home">Home</a></li>
        <li class="scroll"><a href="#team">Our Team</a></li>
        <li class="scroll"><a href="#our-focus">Our Focus</a></li>
        <li class="scroll"><a href="#our-packages">Our Packages</a></li>
        <li class="scroll"><a href="#projects">Our Works</a></li>
        <li><a href="/blog.html">Our Blog</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
    <div class="headerSocial">
      <a class="fac" href="https://www.facebook.com/vanntechs"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-2">
        <div class="logo">
          <a href="index.html"><img class="logo" src="images/vanntechs-logo.webp"
                                    alt="Vanntechs Web Studio Logo"></a>
        </div>
      </div>
      <div class="col-lg-10 col-sm-10 horizontalmenu">
        <div class="menuButtons2 hidden-lg hidden-md hidden-sm hidden">
          <a href="#">
            <img src="images/nav.png" alt="Vanntechs Web Studio Hamburger Icon"/>
            <img class="hovImg2" src="images/navActive.png"
                 alt="Vanntechs Web Studio Hamburger Icon Hover"/>
          </a>
        </div>
        <nav class="mainMenu">
          <ul>
            <li class="active scroll has-child">
              <a href="index.html">Home</a>
            </li>
            <li class="scroll"><a href="#team">Our Team</a></li>
            <li class="scroll"><a href="#our-focus">Our Focus</a></li>
            <li class="scroll"><a href="#our-packages">Our Packages</a></li>
            <li class="scroll"><a href="#projects">Our Works</a></li>
            <li class="scroll"><a href="#contact">Contact Us</a></li>
            <li><a href="/blog.html">Our Blog</a></li>
          </ul>
          <div class="menuButtons">
            <div class="hidden-lg hidden-md hidden-sm">
              <a href="#">
                <img class="logoimg" src="images/nav.png"
                     alt="Vanntechs Web Studio Hamburger Icon"/>
                <img class="hovImg" src="images/navActive.png"
                     alt="Vanntechs Web Studio Hamburger Icon Hover"/>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

</header>
