<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vanntechs Web Studio Montreal | Montreal Website Agency</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Vanntechs Web Studio specializes in:  web design Quebec, web development and maintenance Montreal, Canada.">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <link rel="canonical" href="https://vanntechs.com/"/>
    <meta name="DC.title" content="Vanntechs">
    <meta name="geo.region" content="CA">
    <meta name="geo.placename" content="Montreal">
    <meta name="geo.position" content="0;0">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Montreal Web Studio | Web Design Agency"/>
    <meta property="og:description"
          content="Creative and passionate web design and branding: web studio based in Montreal, Quebec, Canada. Call us at 514-552-3180"/>
    <meta property="og:url" content="https://vanntechs.com/"/>
    <meta property="og:site_name" content="Vanntechs Web Studio"/>
    <meta property="og:image" content="images/vanntechs-web-studio-opengraph.webp"/>
    <meta property="og:image:secure_url" content="https://vanntechs.com/images/vanntechs-web-studio-opengraph.webp"/>
    <meta property="og:image:width" content="1856"/>
    <meta property="og:image:height" content="909"/>
    <meta property="og:image:alt" content="Home"/>
    <meta property="og:image:type" content="image/webp"/>

    <!-- Include All CSS -->


    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/fontello.css"/>
    <link rel="stylesheet" type="text/css" href="css/essential_icon.css"/>
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css"/>
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="css/settings.css"/>
    <link rel="stylesheet" type="text/css" href="css/preset.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/flaticon/flaticon.css"/>
    <link rel="icon" type="image/png" href="images/vanntechs-icon.png" alt="Vanntechs Web Studio Logo">
</head>

<body>
{% include header.html %}

{{ content }}

{% include footer.html %}

<!-- Include All JS -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mixer.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.shuffle.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/mixer.js"></script>
<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/theme.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
    (function () {
        emailjs.init("DWaxkU3M_Bh4KWQBW");
    })();
</script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<!--        <script src="https://www.google.com/recaptcha/api.js?render=6LdMh2InAAAAANrw2iTYzHsMD0zsm7EtMQRcgTBC"></script>-->
<script src="js/index.js"></script>

<!--[if lt IE 9]0-->
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-HXPW0DZQWC"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-HXPW0DZQWC');
</script>
<!-- clutch review -->
<script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
</body>

</html>