---
layout: default
---

<section class="singleBlogPageHeader overlays" data-image-src="images/bg/singleblog.jpg" data-parallax="scroll">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="singleHeader text-center">
          <h2>{{ page.title }}</h2>
          <div class="cats"><a href="#"> {{ page.category }}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="singleInfo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="authInfo">
            <img src="images/blog/2.png" alt=""/>
            by
            <a href="#">{{ page.author }}</a>
          </div>
        </div>
        <div class="col-lg-3 pull-right">
          <div class="singleInfos">
            <a href="#"><i class="esen-Calendar"></i>{{ page.datePublished }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="singleBlogDetailsSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="blogArticels">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relatedPosts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12 col-md-10 col-md-offset-1 col-lg-offset-2">
        <div class="relatedPostsHolder wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <h1>Related Articles</h1>
          <div class="asowl">
            <div id="articlesSlider_1" class="articlesSlider owl-carousel">
              <div class="col-lg-6 col-sm-6 owlItem">
                <div class="singleBlog  relatedBlog text-center">
                  <div class="sbHeader">
                    <h1><a href="singleblog.html">What Happens in the Brain?</a></h1>
                  </div>
                  <div class="sbMeta">
                    <div class="loader"></div>
                    <div class="sbCats"><a href="blog.html">Development</a>, <a href="blog.html">Mobile</a></div>
                    <div class="sbAuth">
                      <a href="blog.html"><img src="images/blog/1.png" alt=""/></a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="sbFooter">
                    <a href="singleblog.html" class="pull-left"><i class="esen-Calendar"></i>07 May</a>
                    <a href="singleblog.html" class="pull-right sbflast"><i class="esen-Clock"></i>03 min read</a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 owlItem">
                <div class="singleBlog relatedBlog text-center">
                  <div class="sbHeader">
                    <h1><a href="singleblog.html">What Goes Around Comes Around</a></h1>
                  </div>
                  <div class="sbMeta">
                    <div class="loader"></div>
                    <div class="sbCats"><a href="blog.html">UI UX</a></div>
                    <div class="sbAuth">
                      <a href="blog.html"><img src="images/blog/2.png" alt=""/></a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="sbFooter">
                    <a href="singleblog.html" class="pull-left"><i class="esen-Calendar"></i>07 May</a>
                    <a href="singleblog.html" class="pull-right sbflast"><i class="esen-Clock"></i>03 min read</a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 owlItem">
                <div class="singleBlog relatedBlog text-center">
                  <div class="sbHeader">
                    <h1><a href="singleblog.html">The Things we Lost in the Fire</a></h1>
                  </div>
                  <div class="sbMeta">
                    <div class="loader"></div>
                    <div class="sbCats"><a href="blog.html">Web Design</a></div>
                    <div class="sbAuth">
                      <a href="blog.html"><img src="images/blog/2.png" alt=""/></a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="sbFooter">
                    <a href="singleblog.html" class="pull-left"><i class="esen-Calendar"></i>07 May</a>
                    <a href="singleblog.html" class="pull-right sbflast"><i class="esen-Clock"></i>03 min read</a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="owlControlla preva"><img src="images/rlLeft.png" alt=""/></div>
            <div class="owlControlla nexta"><img src="images/rlRight.png" alt=""/></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>